.card{
  background-color: #fafafa;
  border-radius: 7px;
  border: 1px solid #e7e7e7;
  padding: 7px;
  margin: 4px;
}

h1{
  font-weight: 700;
  font-size: 23px;
  color: #313131;
  margin-left: 14px;
}

p{
  font-size: 15px;
}
