.header{
  background-color: #1976d2;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 40px;
  color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  caret-color: transparent;
}

.header>img{
  height: 90px;
  margin: 0 27px 0 -14px;
}
