<div class="flex pt-5">
  <app-header bold="Data of Violators"></app-header>
</div>

<div class="caret-transparent grid grid-cols-2 md:grid-cols-5 place-items-center">
  <visual
    image="assets/img/background.jpg"
    date="Sample"
    time="13:00:00"
    location="Mati City"
  />
  <visual
    image="assets/img/background.jpg"
    date="Sample"
    time="13:00:00"
    location="Mati City"
  />
  <visual
    image="assets/img/background.jpg"
    date="Sample"
    time="13:00:00"
    location="Mati City"
  />
  <visual
    image="assets/img/background.jpg"
    date="Sample"
    time="13:00:00"
    location="Mati City"
  />
  <visual
    image="assets/img/background.jpg"
    date="Sample"
    time="13:00:00"
    location="Mati City"
  />
  <visual
    image="assets/img/background.jpg"
    date="Sample"
    time="13:00:00"
    location="Mati City"
  />
</div>
